<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>echarts3中国地图下钻至县级</title>
	<link rel="stylesheet" type="text/css" th:src="@{/css/main.css}">
	<!-- Echarts3 -->
	<script type="text/javascript" th:src="@{/lib/echarts.min.js}"></script>
	<!-- 全国344个市、区、州对应的数字编号 -->
	<script type="text/javascript" th:src="@{/js/citymap.js}"></script>
</head>
<body>
<div id="main" style="width: 100%;height:800px;"></div>
<div class="modal">
  <div id="trend-line">
    <!-- js渲染趋势图数据 -->
    <div id="line-trend"></div>
  </div>
</div>
<script type="text/javascript" th:src="@{/lib/jquery.1.9.1.min.js}"></script>
<script th:src="@{/lib/vue.2.6.10.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>
